<a href="https://colab.research.google.com/github/ruedas91/Module-13-Neural-Networks/blob/main/Copy_of_GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [3]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [4]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [5]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Review the data types associated with the columns
#list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
applicant_data_df.dtypes
#applicant_data_df = OneHotEncoder(sparse=False)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Categorical Variables
applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'],
      dtype='object')

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Create a list of categorical variables 
#categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [12]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)
numerical_variables_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [14]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [15]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [16]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [17]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [18]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [19]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [20]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [21]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1)  // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [22]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1)  // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [23]:
# Create the Sequential model instance
nn = Sequential()

In [24]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [25]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [27]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [28]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5766 - accuracy: 0.7157
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7329
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7326
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7329
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7335
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7376
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7365
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7370
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7391
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7390
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7397
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7396
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7416
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5595 - accuracy: 0.7284 - 505ms/epoch - 2ms/step
Loss: 0.5594732165336609, Accuracy: 0.728396475315094

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 5

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 2) // 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

39

In [35]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [36]:
# First hidden layer
nn_A1.add(Dense(
      units=hidden_nodes_layer1_A1,
      input_dim=number_input_features,
      activation="relu"
))


# Output layer
nn_A1.add(Dense(
      units=number_output_neurons_A1,
      activation= "linear"
))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 39)                4563

 dense_4 (Dense)             (None, 5)                 200

=================================================================
Total params: 4,763
Trainable params: 4,763
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 2.4256 - accuracy: 0.2308
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2227 - accuracy: 0.1703
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0439 - accuracy: 0.2567
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0158 - accuracy: 0.1691
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9189 - accuracy: 0.2054
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8680 - accuracy: 0.2360
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9159 - accuracy: 0.1843
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9302 - accuracy: 0.2233
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8897 - accuracy: 0.1814
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8221 - accuracy: 0.1784
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8586 - accuracy: 0.2023
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8400 - accuracy: 0.1414
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8464 - accuracy: 0.1305
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8807 - accuracy: 0.2139
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8155 - accuracy: 0.2321
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7782 - accuracy: 0.1705
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7594 - accuracy: 0.1443
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7571 - accuracy: 0.1946
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7389 - accuracy: 0.2128
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7490 - accuracy: 0.1685
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7502 - accuracy: 0.1869
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7448 - accuracy: 0.1969
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7367 - accuracy: 0.1778
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7358 - accuracy: 0.1583
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7277 - accuracy: 0.1744
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7180 - accuracy: 0.2180
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7173 - accuracy: 0.2553
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7247 - accuracy: 0.1985
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7304 - accuracy: 0.1755
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7257 - accuracy: 0.1808
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7082 - accuracy: 0.1795
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7018 - accuracy: 0.1625
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7145 - accuracy: 0.2103
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6951 - accuracy: 0.2404
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6959 - accuracy: 0.1772
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.1916
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7073 - accuracy: 0.2819
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6740 - accuracy: 0.2151
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6735 - accuracy: 0.2193
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6617 - accuracy: 0.2640
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6518 - accuracy: 0.2674
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6507 - accuracy: 0.2241
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6574 - accuracy: 0.2650
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6544 - accuracy: 0.2458
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6564 - accuracy: 0.1353
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6437 - accuracy: 0.1356
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6418 - accuracy: 0.1373
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6403 - accuracy: 0.1689
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6351 - accuracy: 0.1550
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6384 - accuracy: 0.1629

#### Alternative Model 2

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 9

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 3) // 4


# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

29

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(
      units=hidden_nodes_layer1_A2,
      input_dim=number_input_features,
      activation="relu"
))


# Output layer
nn_A2.add(Dense(
      units=number_output_neurons_A2,
      activation= "linear"
))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 29)                3393

 dense_6 (Dense)             (None, 9)                 270

=================================================================
Total params: 3,663
Trainable params: 3,663
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [45]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 2.2082 - accuracy: 0.1381
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3505 - accuracy: 0.1230
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2058 - accuracy: 0.1418
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0269 - accuracy: 0.1666
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9284 - accuracy: 0.1874
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8980 - accuracy: 0.1726
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8826 - accuracy: 0.1488
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9323 - accuracy: 0.1262
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8910 - accuracy: 0.1129
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8703 - accuracy: 0.1433
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8479 - accuracy: 0.1792
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8342 - accuracy: 0.1154
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8114 - accuracy: 0.1393
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7806 - accuracy: 0.1452
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7644 - accuracy: 0.1950
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7576 - accuracy: 0.1613
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7486 - accuracy: 0.1561
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7351 - accuracy: 0.1214
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7316 - accuracy: 0.1596
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7308 - accuracy: 0.1838
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7332 - accuracy: 0.1704
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7187 - accuracy: 0.2395
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7048 - accuracy: 0.1813
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6970 - accuracy: 0.1679
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6934 - accuracy: 0.1675
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6825 - accuracy: 0.1842
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6754 - accuracy: 0.1754
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6617 - accuracy: 0.2107
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6601 - accuracy: 0.1973
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6448 - accuracy: 0.1345
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6428 - accuracy: 0.1815
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6448 - accuracy: 0.1679
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6358 - accuracy: 0.1674
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6367 - accuracy: 0.2393
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6303 - accuracy: 0.1371
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6268 - accuracy: 0.1843
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6279 - accuracy: 0.1488
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6196 - accuracy: 0.1757
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6241 - accuracy: 0.3507
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6187 - accuracy: 0.2731
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6166 - accuracy: 0.3149
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6191 - accuracy: 0.2691
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6131 - accuracy: 0.2483
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6159 - accuracy: 0.2426
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6142 - accuracy: 0.1856
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6113 - accuracy: 0.1342
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6103 - accuracy: 0.2440
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6122 - accuracy: 0.2045
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6122 - accuracy: 0.1523
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6223 - accuracy: 0.1772

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5595 - accuracy: 0.7284 - 394ms/epoch - 1ms/step
Loss: 0.5594732165336609, Accuracy: 0.728396475315094

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6484 - accuracy: 0.1977 - 466ms/epoch - 2ms/step
Loss: 0.6483831405639648, Accuracy: 0.19766764342784882

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6128 - accuracy: 0.1426 - 470ms/epoch - 2ms/step
Loss: 0.6127890348434448, Accuracy: 0.1426239013671875

### Step 3: Save each of your alternative models as an HDF5 file.

In [51]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [52]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)